@import "../../sass/helpers";

.inventory-management {
  position: relative;
  width: 100%;

  .inventory-view {
	margin-bottom: rem(20px);
  }

  .grid {
	display: grid;
	column-gap: .3rem;
	row-gap: .2rem;
	grid-template-columns: repeat(auto-fill, rem(76px));

	@include mq-above(tablet) {
	  grid-template-columns: repeat(auto-fill, rem(96px));
	}

	.clickableIngredient {
	  background-color: rgba(0, 0, 0, 0.3);
	  border: 1px solid rgba(255, 255, 255, .3);

	  width: rem(76px);
	  height: rem(76px);

	  @include mq-above(tablet) {
		width: rem(96px);
		height: rem(96px);
	  }
	}
  }

  .inventory-tab-list {
	display: flex;
	flex-wrap: wrap;
	margin: rem(10px) 0;
  }

  .inventory-operation {
	margin-bottom: rem(10px);
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(255,255,255,.3);
	color: white;
	padding: rem(5px);

	&:focus,
	&:active {
	  outline: 0;
	  box-shadow: 0px 0px rem(3px) 0px #fff;
	}
  }

  .inventory-selector {
	cursor: pointer;
	margin: rem(0px) rem(2px);

	&.selected,
	&:hover {
	  cursor: pointer;
	  color: white;

	  button {
		cursor: pointer;
		text-shadow: 0px 0px rem(3px) #fff;
	  }
	}

	button {
	  background: none;
	  border: none;
	  text-transform: capitalize;

	  &:focus,
	  &:active {
		border: none;
		outline: 0;
	  }
	}
  }

  .inventory-tab-containers {
	position: relative;

	.inventory-tab {
	  position: absolute;
	  display: none;

	  &.shown {
		display: grid;
		position: inherit;
	  }
	}
  }

  .inventory-search-wrapper {
	margin-bottom: rem(10px);
  }

}
