@import "../../sass/helpers";

.inventory-management {
  position: relative;
  width: 100%;

  .inventory-view {
	margin-bottom: rem(20px);
  }

  .grid {
	background-color: #000000;
	display: grid;
	column-gap: unset;
	grid-template-columns: repeat(auto-fill, rem(76px));

	@include mq-above(tablet) {
	  grid-template-columns: repeat(auto-fill, rem(96px));
	}

	.clickableIngredient {
	  background-color: #000000;
	  border: 1px solid #ffffff;

	  width: rem(76px);
	  height: rem(76px);

	  @include mq-above(tablet) {
		width: rem(96px);
		height: rem(96px);
	  }
	}
  }

  .inventory-tab-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: rem(10px);
  }

  .clear-all-btn {
	margin-bottom: rem(10px);
	cursor: pointer;
  }

  .inventory-selector {
	cursor: pointer;
	margin: rem(0px) rem(2px);

	&.selected,
	&:hover {
	  cursor: pointer;
	  color: lightcoral;

	  button {
		cursor: pointer;
		color: lightcoral;
	  }
	}

	button {
	  background: none;
	  border: none;
	  text-transform: capitalize;

	  &:focus,
	  &:active {
		border: none;
		outline: 0;
	  }
	}
  }

  .inventory-tab-containers {
	position: relative;

	.inventory-tab {
	  position: absolute;
	  visibility: hidden;

	  &.shown {
		visibility: visible;
		position: inherit;
	  }
	}
  }

  .inventory-search-wrapper {
	.inventory-search {

	}

	margin-bottom: rem(10px);
  }

}
