@import "../../sass/helpers";

$icon-width: 96px;
$icon-height: 96px;

$food-ingredient-x-offset: -1px;
$food-ingredient-y-offset: -15px;


@function xOffset($offset) {
  @return $offset * $icon-width;
}

@function yOffset($offset) {
  @return $offset * $icon-height;
}

@mixin ingredientRecipeSprite($xOffset, $yOffset) {
  background-image: url("/sprites/ingredients/ingredients-recipies.png");
  background-position-x: (($xOffset + 1) * $food-ingredient-x-offset) - xOffset($xOffset);
  background-position-y: (($yOffset + 1) * $food-ingredient-y-offset) - xOffset($yOffset);
}

@mixin itemSprite($xOffset) {
  background-image: url("/sprites/ingredients/items.png");
  background-position-x: (($xOffset + 1) * $food-ingredient-x-offset) - xOffset($xOffset);
  //background-position-y: (($yOffset + 1) * $food-ingredient-y-offset) - xOffset($yOffset);
}

@mixin subYOffset($yOffset, $subYOffset) {
  background-position-y: (-15 * $yOffset + $subYOffset) - ($yOffset * $icon-height) - 1;
}

.icon-item {
  width: $icon-width;
  height: $icon-height;
  display: block;
  transform: scale(0.5) translate(-25%, -25%);
  transform-origin: center;

  @include mq-above(tablet) {
	transform: scale(1);
  }

  // ---------------------------------------------------------------------------
  // Fruit
  // ---------------------------------------------------------------------------
  &.apple {
	@include ingredientRecipeSprite(0, 0);
  }

  &.wildberry {
	@include ingredientRecipeSprite(1, 0);
  }

  &.voltfruit {
	@include ingredientRecipeSprite(2, 0);
  }

  &.hearty-durian {
	@include ingredientRecipeSprite(3, 0);
  }

  &.hearty-durian {
	@include ingredientRecipeSprite(3, 0);
  }

  &.fleet-lotus-seeds {
	@include ingredientRecipeSprite(4, 0);
  }

  &.hydromelon {
	@include ingredientRecipeSprite(5, 0);
  }

  &.palm-fruit {
	@include ingredientRecipeSprite(6, 0);
  }

  &.mighty-bananas {
	@include ingredientRecipeSprite(7, 0);
  }

  &.spicy-pepper {
	@include ingredientRecipeSprite(8, 0);
  }

  &.fortified-pumpkin {
	@include ingredientRecipeSprite(9, 0);
  }

  &.acorn {
	@include ingredientRecipeSprite(10, 0);
  }

  &.chickaloo-tree-nut {
	@include ingredientRecipeSprite(11, 0);
  }

  // ---------------------------------------------------------------------------
  // Meat
  // ---------------------------------------------------------------------------
  &.raw-meat {
	@include ingredientRecipeSprite(0, 2);
  }

  &.raw-prime-meat {
	@include ingredientRecipeSprite(1, 2);
  }

  &.raw-gourmet-meat {
	@include ingredientRecipeSprite(2, 2);
  }

  &.raw-bird-drumstick {
	@include ingredientRecipeSprite(3, 2);
  }

  &.raw-bird-thigh {
	@include ingredientRecipeSprite(4, 2);
  }

  &.raw-whole-bird {
	@include ingredientRecipeSprite(5, 2);
  }

  &.bird-egg {
	@include ingredientRecipeSprite(6, 2);
  }

  // ---------------------------------------------------------------------------
  // Mushrooms
  // ---------------------------------------------------------------------------
  &.stamella-shroom {
	@include ingredientRecipeSprite(0, 5);
  }

  &.chillshroom {
	@include ingredientRecipeSprite(1, 5);
  }

  &.sunshroom {
	@include ingredientRecipeSprite(2, 5);
  }

  &.zapshroom {
	@include ingredientRecipeSprite(3, 5);
  }

  &.rushroom {
	@include ingredientRecipeSprite(4, 5);
  }

  &.hylian-shroom {
	@include ingredientRecipeSprite(4, 5);
  }

  &.hylian-shroom {
	@include ingredientRecipeSprite(5, 5);
  }

  &.hearty-truffle {
	@include ingredientRecipeSprite(6, 5);
  }

  &.silent-shroom {
	@include ingredientRecipeSprite(7, 5);
  }

  &.razorshroom {
	@include ingredientRecipeSprite(8, 5);
  }

  &.ironshroom {
	@include ingredientRecipeSprite(9, 5);
  }

  &.big-hearty-truffle {
	@include ingredientRecipeSprite(10, 5);
  }

  &.endura-shroom {
	@include ingredientRecipeSprite(11, 5);
  }

  // ---------------------------------------------------------------------------
  // Veggies
  // ---------------------------------------------------------------------------
  &.hearty-radish {
	@include ingredientRecipeSprite(0, 7);
  }

  &.big-hearty-radish {
	@include ingredientRecipeSprite(1, 7);
  }

  &.mighty-thistle {
	@include ingredientRecipeSprite(2, 7);
  }

  &.armoranth {
	@include ingredientRecipeSprite(3, 7);
  }

  &.swift-carrot {
	@include ingredientRecipeSprite(4, 7);
  }

  &.endura-carrot {
	@include ingredientRecipeSprite(5, 7);
  }

  // ---------------------------------------------------------------------------
  // Fish
  // ---------------------------------------------------------------------------
  &.hyrule-bass {
	@include ingredientRecipeSprite(0, 9);
  }

  &.hearty-bass {
	@include ingredientRecipeSprite(1, 9);
  }

  &.staminoka-bass {
	@include ingredientRecipeSprite(2, 9);
  }

  &.chillfin-trout {
	@include ingredientRecipeSprite(3, 9);
  }

  &.voltfin-trout {
	@include ingredientRecipeSprite(4, 9);
  }

  &.sizzlefin-trout {
	@include ingredientRecipeSprite(5, 9);
  }

  &.stealthfin-trout {
	@include ingredientRecipeSprite(6, 9);
  }

  &.hearty-salmon {
	@include ingredientRecipeSprite(7, 9);
  }

  &.mighty-carp {
	@include ingredientRecipeSprite(8, 9);
  }

  &.armored-carp {
	@include ingredientRecipeSprite(9, 9);
  }

  &.sanke-carp {
	@include ingredientRecipeSprite(10, 9);
  }

  &.mighty-porgy {
	@include ingredientRecipeSprite(11, 9);
  }

  &.armored-porgy {
	@include ingredientRecipeSprite(12, 9);
  }

  &.hearty-blueshell-snail {
	@include ingredientRecipeSprite(0, 10);
	@include subYOffset(10, 0);
  }

  &.sneaky-river-snail {
	@include ingredientRecipeSprite(1, 10);
	@include subYOffset(10, 0);
  }

  &.razorclaw-crab {
	@include ingredientRecipeSprite(5, 10);
	@include subYOffset(10, 0);
  }

  &.ironshell-crab {
	@include ingredientRecipeSprite(6, 10);
	@include subYOffset(10, 0);
  }

  &.bright-eyed-crab {
	@include ingredientRecipeSprite(7, 10);
	@include subYOffset(10, 0);
  }

  // ---------------------------------------------------------------------------
  // Reptile
  // ---------------------------------------------------------------------------
  &.winterwing-butterfly,
  &.summerwing-butterfly,
  &.thunderwing-butterfly,
  &.smotherwing-butterfly,
  &.cold-darner,
  &.electric-darner,
  &.warm-darner,
  &.rugged-rhino-beetle,
  &.bladed-rhino-beetle,
  &.energetic-rhino-beetle,
  &.sunset-firefly,
  &.fairy,
  &.restless-cricket,
  &.hot-footed-frog,
  &.tireless-frog {
	background-position-y: -861px;
  }

  &.winterwing-butterfly {
	@include itemSprite(0);
  }

  &.summerwing-butterfly {
	@include itemSprite(1);
  }

  &.thunderwing-butterfly {
	@include itemSprite(2);
  }

  &.smotherwing-butterfly {
	@include itemSprite(3);
  }

  &.cold-darner {
	@include itemSprite(4);
  }

  &.electric-darner {
	@include itemSprite(5);
  }

  &.warm-darner {
	@include itemSprite(6);
  }

  &.rugged-rhino-beetle {
	@include itemSprite(7);
  }

  &.bladed-rhino-beetle {
	@include itemSprite(8);
  }

  &.energetic-rhino-beetle {
	@include itemSprite(9);
  }

  &.sunset-firefly {
	@include itemSprite(10);
  }

  &.fairy {
	@include itemSprite(11);
  }

  &.restless-cricket {
	@include itemSprite(12);
  }

  &.hot-footed-frog {
	@include itemSprite(13);
  }

  &.tireless-frog {
	@include itemSprite(14);
  }

  &.hearty-lizard,
  &.hightail-lizard,
  &.fireproof-lizard {
	background-position-y: -861px - $icon-height - 1;
  }

  &.hearty-lizard {
	@include itemSprite(0);
  }

  &.hightail-lizard {
	@include itemSprite(1);
  }

  &.fireproof-lizard {
	@include itemSprite(2);
  }

  // ---------------------------------------------------------------------------
  // Plants
  // ---------------------------------------------------------------------------
  &.hyrule-herb,
  &.cool-safflina,
  &.warm-safflina,
  &.blue-nightshade,
  &.silent-princess,
  &.electric-safflina,
  &.swift-violet {
	background-position-y: -1180px;
  }

  &.hyrule-herb {
	@include itemSprite(0);
  }

  &.cool-safflina {
	@include itemSprite(1);
  }

  &.warm-safflina {
	@include itemSprite(2);
  }

  &.blue-nightshade {
	@include itemSprite(3);
  }

  &.silent-princess {
	@include itemSprite(4);
  }

  &.electric-safflina {
	@include itemSprite(5);
  }

  &.swift-violet {
	@include itemSprite(6);
  }

  // ---------------------------------------------------------------------------
  // Materials
  // ---------------------------------------------------------------------------
  &.rock-salt {
	background-position-y: -1069px;
	@include itemSprite(7);
  }

  &.courser-bee-honey {
	background-position-y: -1499px;
	@include itemSprite(8);
  }

  &.cane-sugar,
  &.hylian-rice,
  &.tabantha-wheat,
  &.goat-butter,
  &.fresh-milk,
  &.goron-spice,
  &.monster-extract {
	background-position-y: -1596px;
  }

  &.cane-sugar {
	@include itemSprite(4);
  }

  &.hylian-rice {
	@include itemSprite(5);
  }

  &.tabantha-wheat {
	@include itemSprite(6);
  }

  &.goat-butter {
	@include itemSprite(7);
  }

  &.fresh-milk {
	@include itemSprite(8);
  }

  &.goron-spice {
	@include itemSprite(9);
  }

  &.monster-extract {
	@include itemSprite(10);
  }


}
