@import "sass/helpers";

.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: rem(20px);

  .inventory-management,
  .recipe-locator {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
  }

  .inventory-management {
	flex: 0;
	margin-right: rem(20px);
  }

  .recipe-locator {

  }
}
