@import "sass/helpers";

.navigation {
  padding: rem(20px);
  background-color: #1e78ff;

  &::after {
	content: "";
	clear: both;
	display: table;
  }

  a {
	color: #ffffff;
	font-weight: 600;
	text-decoration: none;
	font-size: rem(24px);

	&:hover {
	  text-decoration: underline;
	}
  }

  nav {
	float: right;
  }
}

.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: rem(20px);

  .inventory-management,
  .recipe-locator {
	display: flex;
	flex-direction: column;
  }

  .inventory-management {
	margin-right: rem(20px);

	@include mq-above(tablet-large) {
	  width: 33%;
	}

	.inventory-tally {
	  @include mq-above(tablet-large) {
		display: block;
	  }
	}
  }

  .recipe-locator {

  }
}
