@import "../scss/helpers";

.inventory-management {
  position: relative;

  .inventory-view {
	margin-bottom: rem(20px);
  }

  .grid {
	display: grid;
	grid-template-columns: 96px 96px 96px 96px 96px 96px;
	grid-gap: 1px;
	background-color: #000000;
	width: fit-content;

	.clickableIngredient {
	  width: 96px;
	  height: 96px;
	  background-color: #000000;
	  border: 1px solid #ffffff;
	}
  }

  .inventory-tab-list {
	display: flex;
	flex-flow: row;
	margin-bottom: rem(10px);
  }

  .clear-all-btn {
	margin-bottom: rem(10px);
	cursor: pointer;
  }

  .inventory-selector {
	cursor: pointer;
	margin: rem(0px) rem(2px);

	&.selected,
	&:hover {
	  cursor: pointer;
	  color: lightcoral;

	  button {
		cursor: pointer;
		color: lightcoral;
	  }
	}

	button {
	  background: none;
	  border: none;
	  text-transform: capitalize;

	  &:focus,
	  &:active {
		border: none;
		outline: 0;
	  }
	}
  }

  .inventory-tab-containers {
	position: relative;

	.inventory-tab {
	  position: absolute;
	  visibility: hidden;

	  &.shown {
		visibility: visible;
		position: inherit;
	  }
	}
  }

  .inventory-search {
	margin-bottom: rem(10px);
  }
}
