@import "../scss/helpers";

.clickableIngredient {
	position: relative;
	cursor: pointer;

  .numberInInventory {
	position: absolute;
	bottom: rem(5px);
	right: rem(5px);
	color: white;
	background-color: transparent;
	border: none;
	width: rem(50px);
	text-align: right;
	text-shadow: 0 0 rem(3px) #000000;
	font-size: rem(28px);
	font-weight: 500;
	font-family: sans-serif;

	&::selection {
	  background: lightcoral;
	  text-shadow: none;
	  color: #ffffff;
	}

	&:focus {
	  background-color: #0e0e0e;
	}

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}
  }
}
