$icon-width: 96px;
$icon-height: 96px;

$food-ingredient-x-offset: -1px;
$food-ingredient-y-offset: -15px;


@function xOffset($offset) {
  @return $offset * $icon-width;
}

@function yOffset($offset) {
  @return $offset * $icon-height;
}

@mixin foodSprite($xOffset, $yOffset) {
  background-position-x: (($xOffset + 1) * $food-ingredient-x-offset) - xOffset($xOffset);
  background-position-y: (($yOffset + 1) * $food-ingredient-y-offset) - xOffset($yOffset);
}

.icon-ingredient {
  width: $icon-width;
  height: $icon-height;
  display: block;
}

.food {
  background-image: url("/sprites/ingredients/food-ingredients.png");

  // ---------------------------------------------------------------------------
  // Fruit
  // ---------------------------------------------------------------------------
  &.apple {
	@include foodSprite(0, 0);
  }

  &.wildberry {
	@include foodSprite(1, 0);
  }

  &.voltfruit {
	@include foodSprite(2, 0);
  }

  &.hearty-durian {
	@include foodSprite(3, 0);
  }

  &.hearty-durian {
	@include foodSprite(3, 0);
  }

  &.fleet-lotus-seeds {
	@include foodSprite(4, 0);
  }

  &.hydromelon {
	@include foodSprite(5, 0);
  }

  &.palm-fruit {
	@include foodSprite(6, 0);
  }

  &.mighty-bananas {
	@include foodSprite(7, 0);
  }

  &.spicy-pepper {
	@include foodSprite(8, 0);
  }

  &.fortified-pumpkin {
	@include foodSprite(9, 0);
  }

  &.acorn {
	@include foodSprite(10, 0);
  }

  &.chickaloo-tree-nut {
	@include foodSprite(11, 0);
  }

  // ---------------------------------------------------------------------------
  // Meat
  // ---------------------------------------------------------------------------
  &.raw-meat {
	@include foodSprite(0, 2);
  }

  &.raw-prime-meat {
	@include foodSprite(1, 2);
  }

  &.raw-gourmet-meat {
	@include foodSprite(2, 2);
  }

  &.raw-bird-drumstick {
	@include foodSprite(3, 2);
  }

  &.raw-bird-thigh {
	@include foodSprite(4, 2);
  }

  &.raw-whole-bird {
	@include foodSprite(5, 2);
  }

  &.bird-egg {
	@include foodSprite(6, 2);
  }

  // ---------------------------------------------------------------------------
  // Mushrooms
  // ---------------------------------------------------------------------------
  &.stamella-shroom {
	@include foodSprite(0, 5);
  }

  &.chillshroom {
	@include foodSprite(1, 5);
  }

  &.sunshroom {
	@include foodSprite(2, 5);
  }

  &.zapshroom {
	@include foodSprite(3, 5);
  }

  &.rushroom {
	@include foodSprite(4, 5);
  }

  &.hylian-shroom {
	@include foodSprite(4, 5);
  }

  &.hylian-shroom {
	@include foodSprite(5, 5);
  }

  &.hearty-truffle {
	@include foodSprite(6, 5);
  }

  &.silent-shroom {
	@include foodSprite(7, 5);
  }

  &.razorshroom {
	@include foodSprite(8, 5);
  }

  &.ironshroom {
	@include foodSprite(9, 5);
  }

  &.big-hearty-truffle {
	@include foodSprite(10, 5);
  }

  &.endura-shroom {
	@include foodSprite(11, 5);
  }

  // ---------------------------------------------------------------------------
  // Veggies
  // ---------------------------------------------------------------------------
  &.hearty-radish {
	@include foodSprite(0, 7);
  }

  &.big-hearty-radish {
	@include foodSprite(1, 7);
  }

  &.mighty-thistle {
	@include foodSprite(2, 7);
  }

  &.armoranth {
	@include foodSprite(3, 7);
  }

  &.swift-carrot {
	@include foodSprite(4, 7);
  }

  &.endura-carrot {
	@include foodSprite(5, 7);
  }

  // ---------------------------------------------------------------------------
  // Fish
  // ---------------------------------------------------------------------------
  &.hyrule-bass {
	@include foodSprite(0, 9);
  }

  &.hearty-bass {
	@include foodSprite(1, 9);
  }

  &.staminoka-bass {
	@include foodSprite(2, 9);
  }

  &.chillfin-trout {
	@include foodSprite(3, 9);
  }

  &.voltfin-trout {
	@include foodSprite(4, 9);
  }

  &.sizzlefin-trout {
	@include foodSprite(5, 9);
  }

  &.stealthfin-trout {
	@include foodSprite(6, 9);
  }

  &.hearty-salmon {
	@include foodSprite(7, 9);
  }

  &.mighty-carp {
	@include foodSprite(8, 9);
  }

  &.armored-carp {
	@include foodSprite(9, 9);
  }

  &.sanke-carp {
	@include foodSprite(10, 9);
  }

  &.mighty-porgy {
	@include foodSprite(11, 9);
  }

  &.armored-porgy {
	@include foodSprite(12, 9);
  }

  &.hearty-blueshell-snail {
	@include foodSprite(0, 10);
	background-position-y: (-15 * 10) - (10 * $icon-height);
  }

  &.sneaky-river-snail {
	@include foodSprite(1, 10);
	background-position-y: (-15 * 10) - (10 * $icon-height);
  }

  &.razorclaw-crab {
	@include foodSprite(5, 10);
	background-position-y: (-15 * 10) - (10 * $icon-height);
  }

  &.ironshell-crab {
	@include foodSprite(6, 10);
	background-position-y: (-15 * 10) - (10 * $icon-height);
  }

  &.bright-eyed-crab {
	@include foodSprite(7, 10);
	background-position-y: (-15 * 10) - (10 * $icon-height);
  }
}

.icon-ingredient.food.bladed-rhino-beetle {

}

.icon-ingredient.food.blue-nightshade {
  background-position-x: -680px;
}

.icon-ingredient.food.bright-eyed-crab {
  background-position-x: -680px;
}

.icon-ingredient.food.cane-sugar {

}

.icon-ingredient.food.cold-darner {

}

.icon-ingredient.food.cool-safflina {

}

.icon-ingredient.food.courser-bee-honey {

}

.icon-ingredient.food.electric-darner {

}

.icon-ingredient.food.electric-safflina {

}

.icon-ingredient.food.energetic-rhino-beetle {

}

.icon-ingredient.food.fairy {

}

.icon-ingredient.food.fireproof-lizard {

}

.icon-ingredient.food.fortified-pumpkin {

}

.icon-ingredient.food.fresh-milk {

}

.icon-ingredient.food.goat-butter {

}

.icon-ingredient.food.goron-spice {

}

.icon-ingredient.food.hearty-blueshell-snail {

}

.icon-ingredient.food.hearty-durian {

}

.icon-ingredient.food.hearty-lizard {

}

.icon-ingredient.food.hearty-salmon {

}

.icon-ingredient.food.hearty-truffle {

}

.icon-ingredient.food.hightail-lizard {

}

.icon-ingredient.food.hot-footed-frog {

}

.icon-ingredient.food.hylian-rice {

}

.icon-ingredient.food.hylian-shroom {

}

.icon-ingredient.food.hyrule-herb {

}

.icon-ingredient.food.ironshell-crab {

}

.icon-ingredient.food.monster-extract {

}

.icon-ingredient.food.razorclaw-crab {

}

.icon-ingredient.food.razorshroom {

}

.icon-ingredient.food.restless-cricket {

}

.icon-ingredient.food.rugged-rhino-beetle {

}

.icon-ingredient.food.silent-princess {

}

.icon-ingredient.food.smotherwing-butterfly {

}

.icon-ingredient.food.sneaky-river-snail {

}

.icon-ingredient.food.spicy-pepper {

}

.icon-ingredient.food.summerwing-butterfly {

}

.icon-ingredient.food.sunset-firefly {

}

.icon-ingredient.food.swift-carrot {

}

.icon-ingredient.food.swift-violet {

}

.icon-ingredient.food.tabantha-wheat {

}

.icon-ingredient.food.thunderwing-butterfly {

}

.icon-ingredient.food.tireless-frog {

}

.icon-ingredient.food.voltfin-trout {

}

.icon-ingredient.food.warm-darner {

}

.icon-ingredient.food.warm-safflina {

}

.icon-ingredient.food.winterwing-butterfly {

}

.monster {
  background-image: url("/sprites/ingredients/monster-parts.png");
  background-position: 0 0;
}
